.container {
  display: flex; /* This will make the child elements sit side-by-side */
  justify-content: space-between; /* This will add space between the map and the card */
  align-items: flex-start; /* This will make them start from the same point at the top */
  margin-top: 100px; /* This moves the whole container down from the top */
}

.card-container {
  width: 40%; /* take up less than half of the container width to leave some space */
  position: relative; /* Required for z-index to have effect */
  z-index: 2; /* A value higher than the map's z-index */
}

/* Remove margin from card-container and mapdiv, container will take care of it */
.card-container, .mapdiv {
  margin-top: 0;
  margin-left: 0;
}

  
  .card {
    width:800px;
    
  }
  
  .card-body {
    padding: 20px;
  }
  

  .mapdiv {
    width: 70%; /* take up half of the container width */
    height: 560px; /* Adjust as needed */
  }
  


.card-body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}


  
.mapdiv path {
  fill: #d1d1d1;  /* change to red */
  stroke: #ffffff;
  stroke-width: 4px;
  transition: fill 0.3s;
}




.mapdiv svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mapdiv text {
  font-family: 'Arial'; 
  font-size: 16px; 
  fill: #000; 
  pointer-events: none; 
}

.map-wrapper {
  position: relative;
  width: 70%; /* take up half of the container width */
  height: 560px; /* Adjust as needed */
}

.selected-governorate-label {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 50%;  /* adjust as needed */
  left: 50%; /* adjust as needed */
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6); /* optional background for readability */
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}






  .shlok:hover + #white-box .popup {
    display: block;
    fill: #aaa; /* Change the hover color of the governorate */
    cursor: pointer;
  
  }

  select {
    width: 100%;
    padding: 10px 10px 10px 100px;  /* Adjust the left padding as needed */
    font-size: 16px;
    border: none;
    appearance: none;
    background: transparent;
    color: #000;
  }
  
  /* This styles the dropdown options */
  select option {
    font-size: 14px;
    color: #666;
  }

  select option[disabled] {
    color: #000;
    font-weight: bold;
  }
  
  /* This styles the dropdown label (the title of the dropdown menu) */
  form label {
    font-weight: bold; /* Makes the label text bold */
  }

  .governorate-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    fill: black;
    pointer-events: none; /* Make sure the text doesn't interfere with clicks on the map */
}

  
  .custom-select {
    position: relative;
    display: inline-block;
  }
  
  .custom-select::after {
    content: "\25BC"; /* This is a Unicode character for a down arrow */
    position: absolute;
    right: 15px;
    top: 15px;
    pointer-events: none;
    font-size: 12px;
    color: gray;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  

  .dropdown-label {
    position: absolute;
    left: 15px;  /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-weight: bold;
  }




  .dropdown-wrapper {
    position: relative;
    display: inline-block;
    width:85%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    background: #fff;
    margin-bottom: 20px; /* This is the new line */
  }
  
  hr {
    width: 85%; /* adjust as needed */
    border: none;
    border-top: 1px solid rgb(181, 181, 181); /* adjust color as needed */
    margin-left: 0; /* this will align the hr to the left */
  }
  
  
  .menu-hover-container {
    display: flex;
    align-items: center;
}



.select-container {
  position: relative;
  width: 100%;         
  box-sizing: border-box; 
}

.select-container::after {
  content: "\25BC"; /* This is a Unicode character for a down arrow */
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: gray;
}

.select-container select {
  width: 100%;         
  box-sizing: border-box; 
  overflow-wrap: break-word; 
  text-overflow: ellipsis;   
  white-space: nowrap;       
  overflow: hidden;          
}
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add some space below each row */
    align-items: flex-start; /* This will make them start from the same point at the top */
    margin-top: 50px; /* This moves the whole container down from the top */
  }

  .col-md-6{
    margin-right: 50px;
  }
  
  .form-group {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; /* Add some space below each group */
 
  }
  
  .form-group label {
    margin-right: 10px; /* Add some space between the label and the input */
  }
  
  .input-container {
    flex-grow: 1; /* This will make the input take up all available space */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    padding: 10px;
    width: 100%; /* It will fill the width of its parent element */
    max-width: 130px; /* Adjust this value to set the maximum width */
    position: relative; /* Add this */
    
  }
  
  .input-container input {
    border: none;
    padding: 5px;
    flex-grow: 1;
  }
  
  .currency-text {
    margin-left: 10px; /* Add some space between the input and the currency text */
  }
  
  .custom-input {
    width: 100%;  /* It will fill the width of its parent element */
    max-width: 130px;  /* Adjust this value to set the maximum width */
  }
  

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }


  .calculate-button {
    display: block;
    margin: auto;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    background-color: #007BFF;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s;
    width: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .calculate-button:hover {
    background-color: #0069D9;
  }
  
.notee {
  color: #fd0404;
}
  .estimate-card {
    margin: 30px auto;
    width: 80%;
    padding: 20px;
    background-color: rgb(239, 239, 239);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.estimate-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.estimate-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.estimate-card p {
    font-size: 14px;
    color: #888;
}


.title {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #343434;
}


.info-circle-activity {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
 
  right: 50px; /* Adjust as per your needs */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-left: 5%;
}

.pre-line {
  white-space: pre-line;
  
}





.text-container {
  margin-left: 15%;
  margin-top: 5%;
  width: 20%; /* Adjust based on your design */
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}


.info-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
 position: absolute;
  right: 50px; /* Adjust as per your needs */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}



/* Your current styles remain untouched up here... */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .container {
    flex-direction: column; /* Stack children vertically */
  }
  
  .card-container, .mapdiv, .map-wrapper {
    width: 100%;
  }

  .form-row {
    flex-direction: column; /* Stack form elements vertically */
    margin-top: 20px;
  }

  .col-md-6 {
    margin-right: 0;
  }

  .input-container {
    max-width: none;
  }

  .calculate-button {
    width: 100%;
  }
  
  .text-container {
    margin-left: 5%;
    width: 90%;
  }

  .calculate-button {
    display : "none"
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .mapdiv {
    height: 360px;
  }

  .map-wrapper {
    height: 360px;
  }

  .title, .estimate-card h2, .estimate-card h3, .calculate-button {
    font-size: 16px;
  }

  .estimate-card p, .card-body, .governorate-label {
    font-size: 12px;
  }
  
  .dropdown-wrapper, .input-wrapper, .form-group, .input-container {
    flex-direction: column; /* Stack items vertically */
  }

  .form-group label {
    margin-bottom: 10px; /* Add space below the label when stacked vertically */
  }

  .dropdown-label, .custom-select::after, .select-container::after {
    position: static; /* Reset to default, to avoid overlap on small screens */
    transform: none; 
  }

  .select-container {
    width: 100%;    /* on smaller screens, we ensure the dropdowns take up the full width of their container */
}
  
  .info-circle-activity, .info-circle {
    width: 20px;
    height: 20px;
    right: 10px;
    font-size: 14px;
  }

  .calculate-button {
    display : none ; 
  }
  
}
