<nav class="toolbar fixed-top">
  <img src="assets/logo.jpg" alt="Logo" class="logo">

  <div class="toolbar-links">
    <a routerLink="/">{{ 'home' | translate }}</a>
    <a routerLink="/estimator">{{ 'estimator' | translate }}</a> 
    <a routerLink="/activities">{{ 'activity' | translate }}</a>
  </div>
  <div class="translation-buttons">
    <button mat-button (click)="changeLanguage('en')">English</button>
    <button mat-button (click)="changeLanguage('fr')">French</button>
  </div>
</nav>
<router-outlet></router-outlet>

  
  
  
 <!-- Add the router outlet to display the components based on routing -->

<footer class="footer">
  <p class="p">Visit Our Website : <a href="http://www.tunisieindustrie.nat.tn/">www.tunisieindustrie.nat.tn</a></p>
  <p>Copy Rights-2023</p>
</footer>


