nav.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between; /* Add this line */
    align-items: center;
    background-color: #ffffff;
    font-weight: 600;
    padding: 0 16px;
    z-index: 100;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures that the container takes at least the full viewport height */
  }

  .content {
    flex-grow: 1; /* Makes the content area expand to fill available space */
  }
  
  .toolbar .logo {
    height: 40px;
    margin-right: 16px;
  }
  
  .toolbar-links a {
    color: #000000; 
    margin-left: 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .toolbar-links a:hover {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
  }
  
  .footer {
    text-align: center;
    margin-top: auto;
    background-color: #e9f1ff;
    
  }
  .p {
    padding-top: 20px;
  }
  .translation-buttons {
    display: flex;
    gap: 10px;
  }

  .translation-buttons a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }

  .translation-buttons a:hover {
    text-decoration: underline;
  }

  .left-side {
    display: flex;
    align-items: center; 
}


.hamburger-menu {
  display: none; /* Hide by default */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.toolbar-links {
  display: flex; /* Display links inline by default */
  gap: 16px;
}

.toolbar-links.show {
  display: block; /* Show links as block on mobile when the menu is active */
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Show the hamburger menu */
  }
  
  .toolbar-links {
    display: none; /* Hide the links */
    flex-direction: column; /* Stack them vertically */
    gap: 0;
    position: absolute;
    top: 60px; /* The height of your navbar */
    right: 16px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    border-radius: 4px;
  }

  .toolbar-links a {
    margin-left: 0;
    padding: 8px 16px;
    display: block;
  }

  .toolbar-links.show {
    display: flex;
  }
}