<div class="toolbar fixed-top">
  <img src="assets/logo.jpg" alt="Logo" class="logo">

  <div class="toolbar-links">
    <a routerLink="/estimator">Estimator</a> | 
    <a routerLink="/activities">Activity Classes</a>
  </div>
</div>
<router-outlet>
  
  
  
</router-outlet> <!-- Add the router outlet to display the components based on routing -->



<div class="slider" >
  <div class="slider-content">
    <div class="slider-text">
      <h3>Discover the incentives and advantages offered on your investment with our Estimator!</h3>
      
    </div>
    <img src="assets/slider.png" alt="Slider Image" class="slider-image">
  </div>
</div>

<section class="invest-section" >
  <h2 class="invest-title">Explore more about investment in Tunisia</h2>
  <div class="card-container">
    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Tunisian investment laws</h3>
        <p class="card-description"> Tunisian investment laws ensure a favorable business environment.
        </p>
      </div>
      <a href="http://www.tunisieindustrie.nat.tn/fr/doc.asp?mcat=12&mrub=212" class="card-link">Learn More</a>
    </div>
    <div class="card">
      <div class="card-content">
        <h3 class="card-title">The investment advantages in Tunisia</h3>
        <p class="card-description"> Tunisia offers lucrative investment advantages.
        </p>
      </div>
      <a href="http://www.tunisieindustrie.nat.tn/fr/doc.asp?mcat=12&mrub=212" class="card-link">Learn More</a>
    </div>
    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Terrains for sale in different regions</h3>
        <p class="card-description"> Terrains for sale provide diverse investment opportunities.
        </p>
      </div>
      <a href="https://afi.e-industrie.gov.tn/" class="card-link">Learn More</a>
    </div>
    <div class="card">
      <div class="card-content">
        <h3 class="card-title">Authorizations</h3>
        <p class="card-description"> Investment authorizations that empower your business operations.
        </p>
      </div>
      <a href="https://acces-aumarche.gov.tn/fr" class="card-link">Learn More</a>
    </div>
  </div>
</section>
