nav.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-weight: 600;
    padding: 0 16px;
    z-index: 100;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  }
  
  .toolbar .logo {
    height: 40px;
    margin-right: 16px;
  }
  
  .toolbar-links a {
    color: #000000; 
    margin-left: 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  .toolbar-links a:hover {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
  }
  
  .footer {
    text-align: center;
    margin-top: 40px;
    background-color: #e9f1ff;
  }
  .p {
    padding-top: 20px;
  }