.slider {
  margin-top: 60px;
    position: auto;
    top: 60px;
    right: 0;
    left: 0;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .slider-content {
    display: flex;
    align-items: center;
  }
  
  .slider-image {
    height: 400px;
    margin-left: auto;
    margin-right: -20px;
    

    
  }
  
  .slider-text {
    margin-right: 100px;

    margin-left: 50px;
    padding-right: auto;
  }
  
  .slider-text h3 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
  
  .slider-text p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  .invest-section {
    
    text-align: center;
    margin-top: 20px;
  }
  
  .invest-title {
    color: black;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 250px;
    margin: 10px;
    background-color: #557CBE;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
  }
  
  .card-content {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .card-title {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }
  
  .card-description {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
  }
  
  .card-link {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
  }
  

  .mapdiv {
    width: 100%; /* take up half of the container width */
    height: 1500px; /* Adjust as needed */
   
  }

  .mapdiv path {
    fill: #d1d1d1;  /* change to red */
    stroke: #ffffff;
    stroke-width: 4px;
    transition: fill 0.3s;
  }
  
  
  .mapdiv :hover{
      fill: #2DCD7A;
  }
  
  .mapdiv svg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  
  
.shlok:hover + #white-box .popup {
    display: block;
    fill: #aaa; /* Change the hover color of the governorate */
    cursor: pointer;

}


.map-container {
  display: flex;
  justify-content: space-around; /* Adjust based on your design */
  background-color: #e9f1ff;
  padding: 160px;
}

.text-container {
  width: 20%; /* Adjust based on your design */
  font-family: 'Montserrat', sans-serif;
}

.mapdiv {
  width: 50%; /* Adjust based on your design */
  height: 600px;
  background-color: #e9f1ff;
}

.info-box {
  width: 20%; /* Adjust based on your design */
  
  margin-top: 5%;
  margin-bottom: 5%;
  background: white;
  border-radius: 35px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: 'Montserrat', sans-serif;
}



